<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit_details</title>

    <script type="text/javascript">

        function myfunc()
        {
          document.getElementById("file").value={{id}};
          document.forms["myform"].submit();

        }
    </script>

</head>
<body>
<form action="/mysite/edit1/" name="myform" method="post">
    {% csrf_token %}
<br> <br> Enter Department:- <input type="text" name="Department" placeholder="Enter Department name" required>
    <br><br>
   Status:- <select id="Status" name="Status" required>
    <option value="Completed" >Completed</option>
    <option value="Not Completed">Not Completed </option>
</select>
    <br><br>
    File number:-<input id="file" type="text" name="file_no" placeholder="Enter File number">
    <br><br>
    <button type="button" onclick="myfunc()">Submit
    </button>

</body>
</html>