{%extends "base.html" %}
{%load static%}
{%block content%}

<div class="container" align="center">

    <h4><b>Profile</b>
    </h4>

    <div class="col-md-5 col-sm-6 col-xs-12">

      <form action="/doctor_register/profile/{{id}}/" style="border:1px solid black;padding:45px" method=post>
          {% csrf_token %}
        <div class="form-group row">
            <label>Enter Speciality</label>
        <input type="text" name="speciality" class="form-control" id="inputEmail3" placeholder="Enter Speciality" required>

        </div>
          <div class="form-group row">
 <label>Consultation Fees</label>
            <input type="text" name="fees" class="form-control" placeholder="Consultation Fees" required>
          </div>
        <div class="form-group row">
<label>Enter City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter City" required>

        </div>
          <div class="form-group row">
            <label>Enter Degree</label>
                <input type="text" class="form-control" name="degree" placeholder="Enter Degree" required>

            </div>
          <div class="form-group row">
 <label>Enter Clinic Name</label>
            <input type="text" name="clinic" class="form-control" placeholder="Enter Clinic Name" required>
          </div>
<div class="form-group row">
 <label>Experiance </label>
            <input type="text" name="experiance" class="form-control" placeholder="Experiance (in years)" required>
          </div>

          <br>
        <div class="form-group row">

            <input type="submit" name="Submit" value="Submit" style="width:100%" class="btn btn-primary">

        </div>
      </form>

</div>
</div>


{%endblock%}